<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}demo{% endblock %}</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="stylesheets/global.css">

  {% block css %}

  {% endblock %}
  
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <footer>

  </footer>
  <script src="javascripts/shared.js"></script>
  {% block javascript %}

  {% endblock %}
</body>
</html>
